html {background-color:#000;}
body {color:white; background-color:#000;position:relative;font-family:"Verdana",sans-serif;}
a:link {color:lime; text-decoration: none;}
a:active {color:red; text-decoration: none;}
a:visited {color:blue; text-decoration: none;}
.italic {font-style:italic;}
.bold {font-weight:bold;}
.underline {text-decoration:underline;}
.highlight {color:yellow;}
.warning {color:red;}
form input.focus, form textarea.focus {border-color:lime; color: #000;}
div.sidebar {position:relative;width:20%;overflow:visible;}
div.blocktitle {background: transparent url("../images/level0.gif") no-repeat center right;}
div.blocktitle div {background: transparent url("../images/level0_regular__Right.gif") no-repeat; padding-left:0.25em; margin-left: 0.25em;}
div.blockcontent ul {list-style:none;font-size:12px;padding:0;margin:0}
div.blockcontent ul li {color: black; background: transparent url("../images/level1_regular.gif"); list-style:none;font-size:12px;display:block;padding-left:0.5em;margin-left:0.5em}
div.miniblocktitle {background: transparent url("../images/level1_sub.gif") no-repeat center right; z-index: 10;}
div.miniblockcontent ul li {background: transparent url("../images/level2_regular.gif"); z-index: 9;}
div.blockcontent ul li a:link {color: red;}
div.miniblockcontent ul li a:link {color: red;}
div.main {position:absolute;top:0px;left:21%;width:79%;}
div.main div {position:relative;}
table {table-layout: fixed; border-style:none;}
tr.odd {background-color: #111;}
tr.odd:hover {background-color: #222;}
tr.even {background-color: #000;}
tr.even:hover {background-color: #222;}
div#updatedb {font-weight:bold;color:blue;}
div#tagbox {border: 1px solid #ccc; background-color: #111; padding: 5px 5px 5px 5px;}
